.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(58, 57, 57); /* Set the background color to match your page background */
    z-index: 1;
  }
  
  .image-container img {
    position: relative;
    z-index: 2;
  }
  